.head{
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 6%);
    background-color: honeydew;
}
.image{
    height: 70px;
    flex: 40%;
}
.image img{
    height: 100%;
}
.heading{
    flex: 60%;
    font-size: xxx-large;
    font-family: serif;
    font-variant-numeric: diagonal-fractions;
    color: tomato;
}
.logout{
    cursor: pointer;
    border: 1px solid;
    border-radius: 7px;
    display: flex;
}
.toast{
    margin: auto;
}
.body{
    height: calc(100vh - 80px);
}

.center, .left, .right, .middle{
    height: 100%;
}
.left, .middle{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.middle{
    overflow-y: scroll;
    background-color:#f9f9f9;
    position: relative;
}
.lbody{
    /* margin-top: 30px; */
    margin: 0px 10px;
   /* border: 1px solid rgba(0, 0, 0, 0.2); */
    height: auto;
    /* overflow-y: scroll; */
}
.sideCat{
    text-align: center;
    /* margin-top: 1px;  */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sideCat1{
    text-align: center;
    /* margin-top: 1px;  */
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sideHead{
    color: #fff;
    background-color: #AF7AC5;
    padding: 7px;
}
/* .sideHead1{
    color: #fff;
    background-color:aquamarine ;
    padding: 7px;
} */
.sideCategory{
    text-align: start;
}
.sideCategory a{
    text-decoration: none;
    transition: 0.3s linear;
}
.sideCategory a:hover{
    padding-left : 10px;
    color: red;
}
.categoryOptions{
    border-top: thin;
}
.dropdown button{
    width: 100%;
    height: 35px;
}
.dropdown button:hover{
    background-color:coral;
    color: #fff;
    font-size:large;
}
.addCategory, .addProduct{
    display: none;
}
.addCategory, .addProduct {
    border: 1px solid;
    margin: 20px;
    background-color: #fff;
}
.addCategory div, .addProduct div{
    margin: 20px;
    width: 80%;
    text-align: center;
}
.addButton{
    text-align: center !important;
}
.category{
    margin: 20px;
}
.empty{
    position: absolute;
    left: 35%;
    top: 50%;
    /* text-align: center; */
    /* margin-top: 240px; */
    color: silver;
}
.categoryList{
    display: none;
}
.productCategory{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    /* height: 00px; */
    text-align: center;
    margin: 2px;
    padding: 10px 2px;
}
.card div{
    margin: 5px;
}
.img{
    width: 70%;
    height: 100px;
}
.img img{
    height: 100%;
    width: 60%;
}
.price{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.cart{
    text-align: center;
    background-color: #5cb85c;
    color: #fff;
    height: 30px;
    padding: 2px;
}
th{
    font-size: small;
}
.rightTop{
    height: 60%;
    overflow-y: scroll;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.total{
    text-align: end;
    margin: 15px;
}
.button{
    text-align: center;
}
.rightHidden{
    height: 100%;
}
.rightTop, .rightBottom{
    display: none;
}
.cartEmpty{
    width: 100%;
    height: 200px;
    margin-top: 150px;
    
}
.cartImage{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 60px;
}
.cartEmpty img{
    width: 35%;
    height: 80%;
}
.cartText{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.material-symbols-outlined{
    cursor: pointer;
    /* border: 1px solid #ffffff; */
    background-color: #ffffff;
}
.View{
    display: block;
}
.None{
    display: none;
}
.total1{
    text-align: end;
    margin: 10px;
    padding-right: 30%;
}
.summary{
    overflow-y: scroll;
}
